
.Login {
    border: 100px;
    border-radius: 5em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding: 1em;
    width: 500px;
    color: black;
}

.button {
    width: 150px;
}

label {
    font-weight: 500;
}