.Layout {
     /*height: 100%; 
     display:flexbox; 
     flex-direction: column;
     grid-template-columns: 10% 85% 5%;

  height: 80%; 
     box-sizing:content-box; 
    display:flow-root; 
    grid-template-rows: 20% 75% 5%;
    */
    
}




     


